<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pakgopay.mapper.secondary.OperateLogMapper">

    <resultMap id="OperateLogResultMap" type="com.pakgopay.mapper.dto.OperateLogDto">
        <id column="id" property="id" javaType="java.lang.Long"/>
        <result column="operate_type" property="operateType" javaType="java.lang.Integer"/>
        <result column="operate_name" property="operateName" javaType="java.lang.String"/>
        <result column="operate_params" property="operateParams" javaType="java.lang.String"/>
        <result column="operate_user_name" property="operateUserName" javaType="java.lang.String"/>
        <result column="create_time" property="createTime" javaType="java.lang.Long"/>
        <result column="update_time" property="updateTime" javaType="java.lang.Long"/>
    </resultMap>

    <sql id="BaseColumns">
        ol.id AS id,
        ol.operate_type AS operate_type,
        ol.operate_name AS operate_name,
        ol.operate_params AS operate_params,
        ol.operate_user_name AS operate_user_name,
        ol.create_time AS create_time,
        ol.update_time AS update_time
    </sql>

    <insert id="insert" parameterType="com.pakgopay.mapper.dto.OperateLogDto">
        INSERT INTO operate_log (
            operate_type,
            operate_name,
            operate_params,
            operate_user_name,
            create_time,
            update_time
        ) VALUES (
            #{operateType},
            #{operateName},
            #{operateParams},
            #{operateUserName},
            #{createTime},
            #{updateTime}
        )
    </insert>

    <sql id="OperateLogWhere">
        <where>
            <if test="operateType != null">
                AND ol.operate_type = #{operateType}
            </if>
            <if test="operateUserName != null and operateUserName != ''">
                AND ol.operate_user_name = #{operateUserName}
            </if>
            <if test="startTime != null">
                AND ol.create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND ol.create_time &lt;= #{endTime}
            </if>
        </where>
    </sql>

    <select id="countByQuery" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM operate_log ol
        <include refid="OperateLogWhere"/>
    </select>

    <select id="pageByQuery" resultMap="OperateLogResultMap">
        SELECT
            <include refid="BaseColumns"/>
        FROM operate_log ol
        <include refid="OperateLogWhere"/>
        ORDER BY ol.create_time DESC, ol.id DESC
        LIMIT #{pageSize} OFFSET #{offSet}
    </select>

</mapper>
